[submodule "shared/dependency/OpenBLAS"]
	path = shared/dependency/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
[submodule "shared/dependency/fmt"]
	path = shared/dependency/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "shared/dependency/csv-parser"]
	path = shared/dependency/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
[submodule "shared/dependency/ompi"]
	path = shared/dependency/ompi
	url = https://github.com/open-mpi/ompi.git
