[submodule "dependency/OpenBLAS"]
	path = dependency/OpenBLAS
	url = https://github.com/OpenMathLib/OpenBLAS.git
[submodule "dependency/fmt"]
	path = dependency/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependency/csv-parser"]
	path = dependency/csv-parser
	url = https://github.com/vincentlaucsb/csv-parser.git
